/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
}

html {
	background-color: #EDEDEF;
}

body {
	color: #000;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #EDEDEF;
	font-family: "Lucida Grande";
	font-weight: normal;
}

body div#body_home {
	left: 0;
	right: 0;
	top: 22px;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[type=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	margin-top: -1px;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Loading Screen */

body div#loading_screen {
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	width: auto;
	color: #aaa;
	white-space: nowrap;
	float: right;
	text-align: right;
	font-size: 0.8em;
	line-height: 2em;
}

body[dir=rtl] .time {
	color: #aaa;
	white-space: nowrap;
	padding-left: 0.4em;
	display: inline-block;
}

/* Links */

a {
	color: #0088CC;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #FFFFFF;
	position: fixed;
	padding: 2px 0.5em 3px;
	box-shadow: 0 1px 5px #777;
	border-bottom: 1px solid #61778F;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
	background: -webkit-linear-gradient(top, #A2B0D0 0%, #7385AD 100%);
	-webkit-transition: opacity 0.8s linear;
}

#topic_bar a,
#topic_bar span.channel {
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
}

/* Images */

body a img {
	border: 0;
}

body img {
	display: block;
	max-width: 95%;
	margin: 15px 15px 12px 15px;
}

/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dotted #bbb;
	-webkit-transition: 0.2s linear;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[type*=ctcp],
body div.line[type*=notice],
body div.line[type*=wallops] {
	color: #B94A48;
	z-index: 191;
	position: relative;
 	padding: 5px;
}

body div[type*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* AVATARS */

.avatar {
	float: left;
	margin: 9px 15px;
	height: 28px;
	width: 28px;
}

div[type=notice] .avatar {
	display: none;
}

/* PRIVMSG */

body div.line {
	overflow: hidden;
}

body div.line[type*=privmsg][highlight=false] p,
body div.line[type*=privmsg][highlight=true] p,
body div.line[type*=action][highlight=true] p,
body div.line[type*=action] p {
 	padding: 6px;
 	margin-left: 51px !important;
 	text-indent: 0 !important;
}

body div.line[type*=privmsg][highlight=true] p,
body div.line[type*=action][highlight=true] p {
	background: -webkit-linear-gradient(top, #E7F1F7 0%, #E0E9EF 100%);
}

body div.line[type*="privmsg"] p,
body div.line[type*=action] p {
	margin: 8px 10px;
	background: -webkit-linear-gradient(top, #FEFEFE 0%, #F4F4F4 100%);
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

body div.line.myself p {
	margin: 8px 10px;
	background: -webkit-linear-gradient(top, #FFFCF4 0%, #FCF8EA 100%);
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

body div[type*=privmsg] p[type*=myself] .message {
	color: #000;
}

body div[type*=privmsg] .sender {
	font-weight: 700;
}

/* ACTION */

body div[type*=action] .sender:before {
	content: "🌟";
	margin-right: 0.4em;
}

body div[type*=action] .message:after {
	content: "🌟";
	margin-left: 0.4em;
}



/* DEBUG/INVITE */

body div.line[type*=notice],
body div.line[type*=invite],
body div.line[type*=debug] ,
body div.line[type*=rawhtml],
body div.line[type*=notice],
/* GENERAL EVENT */

body div.line[type*=join],
body div.line[type*=part],
body div.line[type*=kick],
body div.line[type*=quit],
body div.line[type*=kill],
body div.line[type*=nick],
body div.line[type*=mode],
body div.line[type*=topic],
body div.line[type*=website] {
 	margin: 0 10px;
 	padding: 3px 6px;
 	position: relative;
 	min-height: 26px;
	text-shadow: 0 1px #fff;
}

body div.line[type*=invite],
body div.line[type*=debug] ,
body div.line[type*=rawhtml],
/* GENERAL EVENT */

body div.line[type*=join],
body div.line[type*=part],
body div.line[type*=kick],
body div.line[type*=quit],
body div.line[type*=kill],
body div.line[type*=nick],
body div.line[type*=mode],
body div.line[type*=topic],
body div.line[type*=website] {
	color: #aaa;
}

body[dir=ltr] div[type*=join] .message:before {
	content: "→";
  	color: #468847;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=kick] .message:before,
body[dir=ltr] div[type*=part] .message:before,
body[dir=ltr] div[type*=quit] .message:before {
	content: "←";
  	color: #B94A48;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=nick] .message:before {
	content:"•";
  	color: #468847;
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=join] .message:before {
	content: "→";
  	color: #468847;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=kick] .message:before,
body[dir=rtl] div[type*=part] .message:before,
body[dir=rtl] div[type*=quit] .message:before {
	content: "←";
  	color: #B94A48;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=nick] .message:before {
	content:"•";
  	color: #468847;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

body .sender[type*=myself],
body .sender[type*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'],
body .sender[type*=normal][colornumber='1'],
body .inline_nickname[colornumber='1'],
body .sender[type*=normal][colornumber='2'],
body .inline_nickname[colornumber='2'],
body .sender[type*=normal][colornumber='3'],
body .inline_nickname[colornumber='3'],
body .sender[type*=normal][colornumber='4'],
body .inline_nickname[colornumber='4'],
body .sender[type*=normal][colornumber='5'],
body .inline_nickname[colornumber='5'],
body .sender[type*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'],
body .sender[type*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'],
body .sender[type*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'],
body .sender[type*=normal][colornumber='9'],
body .inline_nickname[colornumber='9'],
body .sender[type*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'],
body .sender[type*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'],
body .sender[type*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'],
body .sender[type*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'],
body .sender[type*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'],
body .sender[type*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'],
body .sender[type*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'],
body .sender[type*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'],
body .sender[type*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'],
body .sender[type*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'],
body .sender[type*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'],
body .sender[type*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'],
body .sender[type*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'],
body .sender[type*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'],
body .sender[type*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'],
body .sender[type*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'],
body .sender[type*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'],
body .sender[type*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'],
body .sender[type*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'],
body .sender[type*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'],
body .sender[type*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] {
	color: #AAAAAA;
	font-weight: 700;
}
/* mIRC Color Codes */

.effect[color-number='0']  { color: #ffffff; }
.effect[color-number='1']  { color: #3F3F3F; }
.effect[color-number='2']  { color: #000088; }
.effect[color-number='3']  { color: #008800; }
.effect[color-number='4']  { color: #ff0000; }
.effect[color-number='5']  { color: #880000; }
.effect[color-number='6']  { color: #880088; }
.effect[color-number='7']  { color: #ff8800; }
.effect[color-number='8']  { color: #ffff00; }
.effect[color-number='9']  { color: #00ff00; }
.effect[color-number='10'] { color: #008888; }
.effect[color-number='11'] { color: #00ffff; }
.effect[color-number='12'] { color: #0000ff; }
.effect[color-number='13'] { color: #ff00ff; }
.effect[color-number='14'] { color: #888888; }
.effect[color-number='15'] { color: #cccccc; }

.effect[bgcolor-number='0']  { background-color: #ffffff; }
.effect[bgcolor-number='1']  { background-color: #3F3F3F; }
.effect[bgcolor-number='2']  { background-color: #000088; }
.effect[bgcolor-number='3']  { background-color: #008800; }
.effect[bgcolor-number='4']  { background-color: #ff0000; }
.effect[bgcolor-number='5']  { background-color: #880000; }
.effect[bgcolor-number='6']  { background-color: #880088; }
.effect[bgcolor-number='7']  { background-color: #ff8800; }
.effect[bgcolor-number='8']  { background-color: #ffff00; }
.effect[bgcolor-number='9']  { background-color: #00ff00; }
.effect[bgcolor-number='10'] { background-color: #008888; }
.effect[bgcolor-number='11'] { background-color: #00ffff; }
.effect[bgcolor-number='12'] { background-color: #0000ff; }
.effect[bgcolor-number='13'] { background-color: #ff00ff; }
.effect[bgcolor-number='14'] { background-color: #888888; }
.effect[bgcolor-number='15'] { background-color: #cccccc; }

